@import '~@fluentui/react/dist/sass/References.scss';

.eventModul {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

// FILTERING STYLES
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.filters > :not(button) {
  flex: 1 1 200px; // Grow to take up space, but minimum 200px
  box-sizing: border-box;
}

.filters > button {
  flex: 0 0 auto; 
  align-self: flex-end;
}

.filterToggle {
    display: flex;
    gap: 50px;
    align-items: center;
}

.restFilter {
  padding: 1em;
}

.dateStyle {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dateStyle > * {
  flex: 1 1 calc(50% - 20px); 
  box-sizing: border-box; // Sikrer, at padding og border inkluderes i elementets bredde
}